// Configuration section for parameters.
params {
    project_id          = "WMS Project"
    sample_data         = '../datasets/fastq/*_R{1,2}.fastq.gz'
    fasta_reference     = '../datasets/fasta/*.fasta'
    outdir              = './results'
    publish_dir_mode    = 'copy'

}

// Load module-specific configuration
includeConfig 'conf/modules.config'

// Load profiles configuration
profiles {
    local {
        includeConfig 'conf/base.config'
    }

    hpc {
        includeConfig 'conf/hpc.config'
    }
}
