process {
    withName: FASTQC_PROCESS_SMALL {
        publishDir = [
            path: { "${params.outdir}/fastqc_small" },
            mode: params.publish_dir_mode ,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: FASTQC_PROCESS_LARGE {
        publishDir = [
            path: { "${params.outdir}/fastqc_large" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}